@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1E293B;
}

/* Page Home/Hero */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

#logo {
    width: 40px;
    min-height: 40px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
}

nav ul li:hover {
    color: #0E9488;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border-bottom: 2px solid #0E9488;
    cursor: pointer;
    
}

/* End Page Home/Hero */

/* Hero Section */
#section-hero {
    text-align: center;
    padding: 10% 0;
}

.box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#box-p {
    border: 1px solid black;
    padding: 5px;
}

/* End Hero Section */
