@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Page Home/Hero */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

#logo {
    width: 40px;
    min-height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
/* End Page Home/Hero */

/* Hero Section */
#section-hero {
    text-align: center;
    padding: 10% 0;
}

#box-p {
    border: 1px solid black;
}

.box-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* End Hero Section */
