@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1E293B;
}

/* Page Home/Hero */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px;
}

#logo {
    width: 50px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    font-size: medium;
}

nav ul li:hover {
    color: #0E9488;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border-bottom: 2px solid #0E9488;
    cursor: pointer;
    
}
/* End Page Home/Hero */

/* Hero Section */
#section-hero {
    text-align: center;
    padding: 140px;
    word-spacing: 5px;
}

.greet-hero h1 {
    color: #0E9488;
    font-size: 50px;
    padding: 5px;
}

.greet-hero #p1 {
    font-size: large;
    margin-bottom: 15px;
}

.box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 15px;
}

#box-p a {
    text-decoration: none;
}

#box-p #p2 {
    padding: 10px 10px;
    background-color: #0E9488;
    border-radius: 4px;
    color: aliceblue;
    font-size: large;
}

#button-hero button{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding: 10px 15px;
    color: aliceblue;
    background-color: #1E293B;
    border: none;
    border-radius: 4px;
    word-spacing: 5px;
    font-size: large;
}

#button-hero button:hover {
    color: aliceblue;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border-bottom: 2px solid #0E9488;
    cursor: pointer;
}
/* End Hero Section */
